# Environment Variables for GeoKeeper Backend Server

PORT=5000

# Choose Database Provider: 'sqlite' or 'postgres'
DB_PROVIDER=postgres

# PostgreSQL Connection Credentials
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=geokeeper_db
PG_USER=postgres
PG_PASSWORD=your_postgres_password
PG_SSL=false

# Fedratlas Prototype gRPC Sync Engine Host
SYNC_ENGINE_GRPC_HOST=localhost:50051
